streamlit
langchain
langchain-community
langchain-core
langchain-text-splitters
langchain-huggingface

chromadb==1.5.9
langchain-chroma==1.1.0
protobuf==5.29.5

sentence-transformers
pypdf
python-dotenv

pyrebase4
pymongo

requests
urllib3

langchain-google-genai==2.0.7
pydantic<2.8