streamlit

langchain==0.3.15
langchain-community==0.3.15
langchain-core==0.3.15
langchain-text-splitters==0.3.15

langchain-huggingface

chromadb==1.5.9
langchain-chroma==0.1.4

langchain-google-genai==0.0.12

protobuf==5.29.5

sentence-transformers
pypdf
python-dotenv

pyrebase4
pymongo
requests
urllib3
torchvision